<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Paths.SqlLocalDb" value="" />
    <add key="Paths.SqlLocalDb.Default" value="C:\Program Files\Microsoft SQL Server\120\Tools\Binn"/>
  </appSettings>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>